.fondo-gris {
  --background: #f2f2f2; /* gris claro */
}

.titulo-rojo {
  color: #d10000; /* rojo fuerte */
  text-align: center;
  font-weight: bold;
}
.mensaje-vacio {
  color: red;
  font-weight: bold;
  text-align: center;
}
