:host {
  --ion-background-color: #ffffff;
}



.logo {
    width: 100px;
    height: auto;
    margin: 20px auto;
  }
  
  .titulo {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-top: 10px;
    color: #666
  }
  
  .subtitulo {  
    text-align: center;
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
  }
  