ion-content {
  --background: #f8f8f8;

  display: flex; 
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-wrapper {
  width: 100%;
  padding: 20px;
}

.login-container {
  width: 100%;
  max-width: 400px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 30px 20px;
  text-align: center;
  animation: fadeIn 0.8s ease-in-out;
}

.logo {
  width: 80px;
  margin: 0 auto 20px;
  display: block;
}

.login-title {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.login-subtitle {
  font-size: 14px;
  color: #666;
  margin-bottom: 25px;
}

.login-subtitle a {
  color: #8B0000;
  text-decoration: none;
  font-weight: 600;
}

.form-group {
  margin-bottom: 20px;
  text-align: center;
}

.form-label {
  font-size: 14px;
  color: #666;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 12px 15px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
}

.form-checkbox {
  display: flex;
  justify-content: left;
  align-items: left;
  font-size: 12px;
  margin-bottom: 15px;
  color:#666;
}

.forgot-password {
  color: #8B0000;
  text-decoration: none;
}

.login-button {
  background-color: #8B0000;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 12px;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #a10000;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 25px 0;
  color: #999;
  font-size: 14px;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #eee;
}

.separator::before {
  margin-right: 10px;
}

.separator::after {
  margin-left: 10px;
}

.social-buttons {
  display: flex;
  gap: 10px;
  color:#666
}

.social-button {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  color: #666;
}

.social-button:hover {
  background-color: #f0f0f0;
}

/* Animación para entrada */
@keyframes fadeIn {
  0% { opacity: 0; transform: scale(0.95); }
  100% { opacity: 1; transform: scale(1); }
}
