<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-button routerLink="/inicio">Inicio</ion-button>
      <ion-button routerLink="/peliculas">Películas</ion-button>
      <ion-button routerLink="/series">Series</ion-button>
      <ion-button routerLink="/resenas">Reseñas</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/login" fill="outline" shape="round">Iniciar Sesión</ion-button>
      <ion-button routerLink="/registro" fill="outline" shape="round">Registrarse</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
